$bg-col: #242121;
$bg-foot: #202020;
$light: #fff;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin:0 auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-content {
  @include zero-margin(50px,0px);
  border-bottom: 1px ridge;
  min-height:100px;
}

.navbar {
  background-color: $bg-col;
}

.nav-link, td, .card-header, .responsive{
  cursor: pointer;
}

body {
  padding:40px 0 40px 0;
  z-index:0;
}

table {
  background-color: $bg-col;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

div {
  .gallery {
    border: 1px solid #ccc;

    &:hover {
      border: 1px solid #777;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
  .desc {
    padding: 15px;
    color: $light;
    background-color: $bg-foot;
    text-align: center;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.footer{
  background-color: $bg-col;
  @include zero-margin(10px, 0px);
  position: absolute;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
