<!-- ------------------------------ Home elements ------------------------------ -->
<div class="container">
  <!-- -------------------- Songs -------------------- -->

  <!-- ------------ Part 1 ------------ -->
  <div class="row row-content">
    <div class="col-12">
      <div class="col text-center">
        <h2>Your albums</h2>
      </div>

      <div class="responsive" *ngFor="let album of albums">
        <div class="gallery">
          <a (click)="getAlbum(album.name)">
            <img src="{{album.img}}" alt="s1" width="600" height="400">
          </a>
          <div class="desc" id="name0">{{album.name}}</div>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>

  <!-- ------------ Part 2 ------------ -->
  <div class="row row-content">
    <div class="col-12">
      <div class="col text-center">
        <h2>Top-4 most listened albums</h2>
      </div>

      <div class="responsive" *ngFor="let album of albums">
        <div class="gallery">
          <a routerLink="/playlist-info">
            <img src="{{album.img}}" alt="s1" width="600" height="400">
          </a>
          <div class="desc" id="name1">{{album.name}}</div>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>

  <!-- ------------ Part 3 ------------ -->
  <div class="row row-content">
    <div class="col-12">
      <div class="col text-center">
        <h2>Top-4 newest albums</h2>
      </div>

      <div class="responsive" *ngFor="let album of albums">
        <div class="gallery">
          <a routerLink="/playlist-info">
            <img src="{{album.img}}" alt="s1" width="600" height="400">
          </a>
          <div class="desc" id="name3">{{album.name}}</div>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
