<div class="container">
  <div class="row-content">
    <!----------------- User info ----------------->
    <div class="row">
      <div class="col-12 col-sm-7 col-md-5">
        <!----------- User info card ----------->
        <div class="card">
          <img src="assets/img/user.png" class="card-img-top" alt="user">
          <div class="card-body">
            <h5 class="card-title text-center">Username here</h5>
            <div class="row">
              <div class="col col-4">
                <p class="text-truncate">Email:</p>
                <p class="text-truncate" data-toggle="tooltip" data-placement="top" title="Password">Password:</p>
              </div>
              <!------------ Replaced data ------------>
              <div class="col col-8">
                <p class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{userData.email}}">
                  {{userData.email}}
                </p>
                <p class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{userData.password}}">
                  {{userData.password}}
                </p>
              </div>
            </div>
            <button type="button" class="btn btn-success btn-block" (click)="toggle()">Change data</button>
          </div>
        </div>

        <!----------- User update info ----------->
        <form *ngIf="hide" class="mt-4 mt-sm-1 border p-1">
          <!--------- New Email --------->
          <div class="form-group row">
            <label for="newMail" class="col-3 col-sm-12 col-form-label">New Email</label>
            <div class="col-9 col-sm-12">
              <input [(ngModel)]="updateData.email" type="email" name="email" class="form-control" id="newMail" required>
            </div>
          </div>
          <!--------- New Password --------->
          <div class="form-group row">
            <label for="newName" class="col-3 col-sm-12 col-form-label">New Password</label>
            <div class="col-9 col-sm-12">
              <input [(ngModel)]="updateData.password" type="password" name="password" class="form-control" id="newName" required>
            </div>
          </div>
          <!--------- Buttons --------->
          <button type="button" class="btn btn-primary btn-block" (click)="updateUserData()">Apply</button>
          <div class="row mt-2">
            <div class="col-12 text-center" *ngIf="!delete">
              <h6 class="delete" (click)="deleteAlert()">Delete account</h6>
            </div>
            <div class="col-12 text-center" *ngIf="delete">
              <h6 class="delete" (click)="deleteAcc()">Click again to confirm.</h6>
            </div>
          </div>
        </form>
      </div>

      <!----------------- Albums list ----------------->
      <div class="col-12 col-sm-5 col-md-7 mt-4 mt-sm-0">
        <div class="col text-center">
          <h2>Your subscriptions</h2>
        </div>
        <!------------- Subscriptions ------------->
        <div *ngIf="albums.length > 0">
          <div class="media mt-3" *ngFor="let album of albums">
            <img src="{{album.img}}" class="align-self-center mr-3" alt="img" height="100" width="100">
            <div class="media-body">
              <h5 class="mt-0">{{album.name}}</h5>
              {{album.info}}
              <a class="colored" (click)="unSubscribe(album._id)">Unsubscribe</a>
            </div>
          </div>
        </div>
        <!------------- No subscriptions ------------->
        <div *ngIf="albums.length == 0">
          <div class="col text-center">
            <h4>You have no subscriptions yet!
              <a routerLink="/playlists" class="sub">Click here to get some!</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
